@model IEnumerable<Weather_Note.Models.POCO.Note>

@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find By Message: @Html.TextBox("SearchTerm")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Date","Index",new {sortOrder = ViewBag.SortDate })
        </th>
        <th>
            @Html.ActionLink("Message", "Index", new { sortOrder = ViewBag.SortMessage })
        </th>
        <th>
            @Html.DisplayName("Max Temp")
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.MaxTemp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

