@model IEnumerable<Weather_Note.Models.POCO.Note>

@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Notes Overview</h1>

<div class="link-style">
    <!--Link for create a new note model.-->
    @Html.ActionLink("Create New", "Create")
</div>
<!--Form to post a search.-->
@using (Html.BeginForm())
{
    <div class="div-input-style">
        Find By Message: @Html.TextBox("SearchString")
        <input class="button-style" type="submit" value="Search" />
    </div>
}

<!--All the table headers, It's 2 links as header and one normal header. It's so you can sort either by
    ascending or descending-->
<table class="tangjaiTable">
    <tr>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.SortDate })
        </th>
        <th>
            @Html.ActionLink("Message", "Index", new { sortOrder = ViewBag.SortMessage })
        </th>
        <th>
            @Html.DisplayName("Max Temp")
        </th>
        <th></th>
    </tr>

    <!--Foreach loop to print every table data to specific column.-->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTemp)
            </td>
            <td>
                <!--Links that you can press if you want to edit, see details or delete a model.-->
                <div class="link-style">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </div>
            </td>
        </tr>
    }
</table>
